.footer{
    position: static;
    bottom: 0;
    width: 100%;
    height: 15rem;
    line-height: 5rem;
    background-color: #2A4057;
    display: block;
    box-shadow: 0 50vh 0 50vh #2A4057;
}

@media (min-width: 760px) {
    .containerFooter{
        width:50% !important;
    }
}