.navbar-brand{
    color:#DADDD8;
}
a{
    color: #DADDD8;
}
a:hover{
    color:#546A76;
}
.nav-item .white{
    color: #DADDD8!important;
}

.nav-item .white:hover{
    color:#546A76!important;
}
.blackNav, .blackNav .nav-link{
    color: black!important;
}

.blackNav:hover, .blackNav:hover .nav-link{
    color:rgb(124, 124, 124)!important;
}

.bg-custom1{
    background-color: rgba(42, 64, 87, 0.37);
}
.custom-toggler.navbar-toggler {
    border-color: rgb(255,102,203);
}
.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
.username {
    font-weight: 400;
    font-size: 1.1em;
    margin: auto 10px;
    border: 1px solid black;
}