.active-pink-4 input[type=text]:focus:not([readonly]) {
    border: 1px solid #d71820;
    box-shadow: 0 0 0 1px #d71820;

}
.active-pink-3 input[type=text] {
    border: 1px solid #d71820;
    box-shadow: 0 0 0 1px #d71820;    
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    padding: 10px 5px;
    box-sizing: border-box;
}
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited{
    background-color:#d71820 !important;
    border-color: #d71820 !important;
    border: 1px solid #d71820 !important;
    box-shadow: 0 0 0 1px #d71820;
}
.search-button {
    border-bottom-left-radius: 0 !important;
    border-top-left-radius: 0 !important;
}
.suggestion-container{
    text-align: left;
    list-style-type:none;
    margin: 0;
    padding: 0;
    border-top: 2px solid #d71820;
    display:inline-block;
    overflow:auto;
    width:43%;
    max-height: 150px;
    position: absolute;
    margin-top: 37px;
}
.suggestion-container::before{
    content: "";
}
.suggestion{
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white;
    cursor: pointer;
    color: black;
    padding:10px 5px;
    background-color: white;
    position: static;

}
.suggestion:hover{
    text-decoration: underline;
    background-color: gray;
}
