body {
    
}
.form-group {
    text-align: left;
}
.btn.btn-danger {
    background-color: #D71820;
    border-color: #D71820;
    font-size: 1.05em;
}
.btn.btn-danger:hover {
    background-color: rgb(255, 0, 13);
    border-color: rgb(255, 0, 13);
}
.user-logo {
    border-radius: 50%;
    /*border: 1px solid rgba(0, 0, 0, 0.125);*/
    transform: translateY(-100px);
    width: 140px;
    height: 140xpx;
    margin: 0;
    display: flex;
    align-self: center;
    margin-bottom: -80px;
}
.fix-logo-translate {
    margin-top: 100px;
}


